.wrapper Div is the assumed element type
p Hello #{name }! This is your dog, #{dog}.
span
  img(src="/images/photos/dog.jpg" alt=`${dog}`)

h2
| headings work too
em what?

from "ul.dog>li.dogs$$*10"
ul.dog
li.dogs01
li.dogs02
li.dogs03
li.dogs04
li.dogs05
li.dogs06
li.dogs07
li.dogs08
li.dogs09
li.dogs10
